<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>登录-绕线机网络化检测与诊断系统</title>
<link rel="stylesheet" type="text/css" href="/static/css/public.css" />
<link rel="stylesheet" type="text/css" href="/static/css/page.css" />
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/public.js"></script>
</head>
<body>

	<!-- 登录页面头部 -->
	<div class="logHead">
		<img src="/static/img/xiaohui.png" />
	</div>
	<!-- 登录页面头部结束 -->

	<!-- 登录body -->
	<div class="logDiv">
		<img class="logBanner" src="/static/img/login.png" />
		<div class="logGet">
			<!-- 头部提示信息 -->
			<div class="logD logDtip">
				<p class="p1">登录</p>
				<p class="p2">平台人员登录</p>
			</div>
			<!-- 输入框 -->
            <form method="post" action="/" id="loginform">
			<div class="lgD">
				<img class="img1" src="/static/img/logName.png" /><input type="text" name="username" placeholder="输入用户名" />
			</div>
			<div class="lgD">
				<img class="img1" src="/static/img/logPwd.png" /><input type="password" name="password" placeholder="输入用户密码" />
			</div>
			<div class="lgD logD2">
				<input class="getYZM" type="text" name="yanzhengma"/>
				<div class="logYZM">
{#					<img class="yzm" src="/static/img/logYZM.png" />#}
                    <img id="verficode" src="/code" onclick="this.src='./code?'+Math.random()">
				</div>
			</div>
       {% for message in get_flashed_messages() %}
        <div class="alert alert-warning"style="margin-left: 20%">
            <button type="button" class="open" data-dismiss="alert" ><a style="color: yellow">&times;</a></button>
            <a style="color: red">{{ message }}</a>
        </div>
       {% endfor %}

			<div class="logC">
{#                <button><input type="submit" value="登 录" ></button>#}
                <button onclick="submits()">登录</button>
			</div>
            </form>
             <script type="text/javascript" src="/static/jquery.js"></script>
                    <script>
                        function submits() {
                            document.getElementById('loginform').submit();
                        }
                    </script>
		</div>
	</div>
	<!-- 登录body  end -->

	<!-- 登录页面底部 -->
	<div class="logFoot" >
		<p class="p1">Copyright © ：西安交通大学自动控制研究所</p>
	</div>
	<!-- 登录页面底部end -->
</body>
</html>