<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>绕线机网络化检测与诊断系统</title>
<link rel="stylesheet" type="text/css" href="/static/css/css.css" />
<script src="{{ url_for('static', filename='echarts.min.js') }}"></script>
</head>

{#<body>#}
{#	<div id="pageAll">#}
{#		<div class="page">#}
{#			<!-- main页面样式#}
{#			<div class="indexL">#}
{#				<img class="indexBn" src="/static/img/dev2.jpg" /><br>#}
{#			</div>#}
{#			-->#}
{#		</div>#}
{#	</div>#}
{#</body>#}
<style>
.div-a{ float:left;width:49%;border:1px solid #000}
.div-b{ float:left;width:49%;border:1px solid #000}
</style>

<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="pageAll">
    <div class="page">
        <div style="margin-top: 2%; float: right; margin-right: 50%">
            <strong><p style="color:blue;font-size: 28px;font-family:楷体;">绕线机设备状态监测综合页面</p></strong>
        </div>
        <div class="div-a" id="main1" style="width:40%;height:400px;margin: 2% auto;margin-right: 2%"></div>
        <div class="div-b"id="main2" style="width: 40%;height:400px;margin:  2% auto;"></div>
        <div class="div-a"id="main3" style="width: 40%;height:400px;margin: 3% auto;margin-right: 3%"></div>
        <div class="div-b"id="main4" style="width: 40%;height:400px;margin:  3% auto;"></div>
{#        //<div class="div-a"id="main5" style="width: 40%;height:400px;margin:  3% auto;"></div>#}
    </div>
</div>
<script src="/static/jquery.js"></script>
<script src="/static/js/chart.js"></script>
<script type="text/javascript">

    // 使用刚指定的配置项和数据显示图表。
    {#myChart1.setOption(option1);#}
    myChart2.setOption(option2);
    myChart3.setOption(option3);
    myChart4.setOption(option3);
    //myChart5.setOption(option5);
</script>
</body>
</html>