<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>系统管理-绕线机网络化检测与诊断系统</title>
<link rel="stylesheet" type="text/css" href="/static/css/css.css" />
<link rel="stylesheet" type="text/css" href="/static/css/mricode.pagination.css" />
<script type="text/javascript" src="/static/js/jquery.min.js"></script>


<!-- <script type="text/javascript" src="js/page.js" ></script> -->
 <style>
    table tr:nth-child(even){
          background: rgba(144, 90, 236, 0.13);
    }
</style>
</head>

<body>
	<div id="pageAll">
		<div class="pageTop">
			<div class="page">
				<img src="/static/img/coin02.png" /><span><a href="/main">首页</a>&nbsp;-&nbsp;<a
					href="#">系统管理</a>&nbsp;-</span>&nbsp;系统操作日志
			</div>
		</div>

		<div class="page">
			<!-- wish页面样式 -->
			<div class="wish">
				<div class="conform">
					<form>
						<div class="cfD">
							时间：<input class="vinput" type="text" />&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
							<input class="vinput" type="text" />
                            <input class="addUser"type="text" id="searchtext" placeholder="输入用户名" />
							<input type="button" class="button" id="search"value="搜索"/>
                            <button class="button">打印数据</button>
						</div>
					</form>
				</div>
				<!-- wish 表格 显示 -->
				<div class="wishShow">
					<table border="1" cellspacing="0" cellpadding="0" id="datatable">
						<thead style="font-size: 20px">
							<th width="100px" class="tdColor" style="background: #2a9cdd;color: white;font-size: 17px">序号</th>
							<th width="250px" class="tdColor"  style="background: #2a9cdd;color: white;font-size: 17px">用户名</th>
							<th width="500px" class="tdColor" style="background: #2a9cdd;color: white;font-size: 17px">日志详情</th>
							<th width="350px" class="tdColor"  style="background: #2a9cdd;color: white;font-size: 17px">用户IP地址</th>
							<th width="350px" class="tdColor" style="background: #2a9cdd;color: white;font-size: 17px">操作时间</th>
						</thead>
				{% for i in datas.user_list %}
                    <tr style="height: 45px">
                        <td class="center">{{ i[0] }}</td>
                        <td class="center">{{ i[1] }}</td>
                        <td class="center">{{ i[2] }}</td>
                        <td class="center">{{ i[4] }}</td>
                        <td class="center">{{ i[3] }}</td>
                    </tr>
                {% endfor %}
					</table>
					<div style="float: right;margin-right: 7%;margin-top: 10px">
                        <table border="1" cellspacing="0" cellpadding="0">
                        <tr style="height: 40px;color: blue">
                        {% if datas.show_shouye_status==1%}
                          <td  style="width: 40px;"><a href='/system/system_log?p=1'>首页</a></td>
                          <td class=''><a href='/system/system_log?p={{datas.p-1}}'><<</a></td>
                       {%endif%}

                        {% for dic in datas.dic_list %}
                          {% if dic==datas.p%}
                              <td style="width: 40px;"><a href="/system/system_log?p={{dic}}" rel="external nofollow" rel="external nofollow" >{{dic}}</a></td>
                          {%else%}
                            <td style="width: 40px;"><a href="/system/system_log?p={{dic}}" rel="external nofollow" rel="external nofollow" >{{dic}}</a></td>
                          {%endif%}
                        {%endfor%}

                        {% if datas.p < datas.total%}
                          <td class=''><a href='/system/system_log?p={{datas.p+1}}'>>></a></td>
                          <td style="width: 40px;"><a href='/system/system_log?p={{datas.total}}'>尾页</a></td>
                        {%endif%}
                            <td>共{{datas.total}}页</td>
                        </tr>
                        </table>
                    </div>
{#                <div  class="col-md-8 m-pagination" id="paginator" style="right: 10px">#}
            </div>
				</div>
				<!-- wish 表格 显示 end-->
			</div>
			<!-- wish页面样式end -->
		</div>

	</div>


	<!-- 删除弹出框 -->
	<div class="banDel">
		<div class="delete">
			<div class="close">
				<a><img src="/static/img/shanchu.png" /></a>
			</div>
			<p class="delP1">你确定要删除此条记录吗？</p>
			<p class="delP2">
				<a href="#" class="ok yes">确定</a><a class="ok no">取消</a>
			</p>
		</div>
	</div>
	<!-- 删除弹出框  end-->
</body>
<script type="text/javascript" src="/static/jquery.js"></script>
<script type="text/javascript" src="/static/js/jquery.table2excel.js"></script>

<script type="text/javascript">

$('button').click(function(){
			console.log(1)
			$("#datatable").table2excel({
		        exclude: ".noExl",
		        name: "Excel Document Name",
		        filename: "system_log.xls",
		        exclude_img: true,
		        exclude_links: true,
		        exclude_inputs: true
		    });
		});

// 通过点击按钮开始筛选
		$(function(){
			$('#search').click(function(){
				var text = $('#searchtext').val();//获取文本框输入
				if($.trim(text) != ""){
					$("#table tr:gt(0)").hide().filter(":contains('"+text+"')").show();
				}
			})
		});

// 广告弹出框
$(".delban").click(function(){
  $(".banDel").show();
});
$(".close").click(function(){
  $(".banDel").hide();
});
$(".no").click(function(){
  $(".banDel").hide();
});
// 广告弹出框 end
</script>
</html>