<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>设备添加-绕线机网络化检测与诊断系统</title>
<link rel="stylesheet" type="text/css" href="/static/css/css.css" />
<link rel="stylesheet" type="text/css" href="/static/css/bo" />
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
</head>
<body >
	<div id="pageAll">
		<div class="pageTop">
			<div class="page">
				<img src="/static/img/coin02.png" /><span><a href="#">首页</a>&nbsp;-&nbsp;<a
					href="#">设备位置显示</a>&nbsp;-</span>&nbsp;设备添加
			</div>
		</div>
		<div class="page " style="background-color: rgb(242, 242, 242)">
			<!-- 上传广告页面样式 -->
			<div class="banneradd bor">
                <form method="get" action="/equip_tianjia" id="tianjiaform">
					<div class="bbD">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;设备序号：<input type="text" name="equipment_id"class="input3" />
					</div>
					<div class="bbD">
                             <input type="submit" class="btn_ok btn_yes" value="提交">
					</div>
                </form>
			</div>
			<!-- 上传广告页面样式end -->
		</div>
	</div>
</body>
</html>